/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	border-radius: 2px;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Global Styles */
// Pallete
$blk: #191414;
$night: #0e1926;
$dk11: #2e4c6b;
$dk10: #264c73;
$dk9: #1f4c7a;
$dk8: #2e3833;
$dk7: #45544c;
$dk6: #5c7066;
$md5: #738c80;
$md4: #8fa399;
$li3: #abbab2;
$li2: #c7d1cc;
$li1: #e3e8e6;
$wht: snow;
$warn: #a32929;

// typography
.corben-regular {
	font-family: "Corben", serif;
	font-weight: 400;
	font-style: normal;
  }
.corben-bold {
	font-family: "Corben", serif;
	font-weight: 700;
	font-style: normal;
  }
$font-titles: "Corben", serif;
$title-bold: 700;
$title-regular: 400;
$font-primary: "Work Sans", sans-serif;
$font-bold: 600;
$font-emphasis: 500;
$font-regular: 300;
$font-light: 100;

/* Start Styles */
html {
	margin: 6px;
	background-color: $li3;
	border: none;
}
body {
	font-family: $font-primary;
	font-weight: $font-regular;
	line-height: 1.18;
	color: $night;

	border: none;
}
main {
	max-width: 350px;
	padding: 16px;
	border: 1px solid $md4;
}
div, h3, p, a, .form {
	border-radius: 2px;
}
h3 {
	margin-bottom: 16px;
	font-weight: $font-emphasis;
	text-transform: uppercase;
}
p {
	margin: 16px 0;
}
article {
	margin: 16px 0;
}
.row-wrap {
	display: flex;
	flex-flow: row wrap;
}
.row-nowrap {
	display: flex;
	flex-flow: row nowrap;
}
.col-nowrap {
	display: flex;
	flex-flow: column nowrap;
}

// Header
header {
	margin-bottom: 16px;
	padding-bottom: 16px;
	border: none;
}
h1 {
	height: 1.25em;
	margin: 0 16px 0 0;
	font-family: $font-titles;
	font-size: 2.5rem;
	color: $night;
}
.nav {
	margin-right: 10px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: $font-emphasis;
	font-size: small;
	letter-spacing: .04rem;
	color: $wht ;
	cursor: pointer;
	border: none;
}
.nav:hover {
	text-decoration: none;
}
.nav.active {
	color: $dk7;
	font-weight: $font-bold;
}

// Auth
.form-container, form {
	display: flex;
	flex-flow: column nowrap;
}
.form > p, input {
	width: 125px;
	margin-bottom: 11px;
	border: none;
}
.input-group {
	display: flex;
	flex-flow: row nowrap;
}
input {
	height: 15px;
	padding: 4px;
	color: $dk11;
	background-color: $wht;
}
.form-errors {
	margin: 11px 0 6px 4px;
	font-size: x-small;
	font-weight: $font-bold;
	color: $warn;
}
form > button {
	height: 20px;
	width: 133px;
	padding: 5px 0 15px;
	background-color: $dk9;
	color: $wht;
	cursor: pointer;
}
.form-button {
	height: 23px;
	width: 133px;
	padding-bottom: 3px;
	cursor: pointer;
	background-color: $dk8;
	font-size: small;
	color: $wht;
	border: none;
}
.form-button:hover {
	background-color: $dk11;
	border: none;
}
.second {
	margin-bottom: 13px;
}
#signInDiv {
	width: 133px;
}
.profile {
	padding: 4px;
	margin: 5px 5px 11px 0;
}
.view > p {
	margin: 6px 0 3px 0;
}
.profile-user {
	font-weight: $font-emphasis;
}
.text-asis {
	text-transform: none;
}

// Explore
section {
	margin: 16px 0 25px 0;

}
.exp {
	margin-bottom: 4px;
	padding: 8px 8px 0 0;
	color: $dk11;
}
.list {
	margin: 0;
	padding: 0;
}
.ico {
	width: 55px;
	height: 55px;
	margin: 3px 3px 0 3px;
	padding: 5px;
	background-color: $dk6;
	border: none;
}
h6 {
	margin: 0;
	text-align: center;
	font-variant-caps: all-small-caps;
	font-weight: $font-emphasis;
	color: $li1;
	background-color: $dk6;
}
.list > div {
	margin: 0 8px 8px 0;
	background-color: $dk6;
	cursor: pointer;
}
.rmspace {
	margin-bottom: -14px;
}

// Detail
.detail-container {
	justify-content: center;
}
.detail {
	width: 130px;
	height: 130px;
	padding: 8px;
	background-color: $li3;
	align-self: center;
}
strong {
	text-transform: uppercase;
	font-weight: $font-emphasis;
	font-size: small;
}
.text {
	margin: 0 0 6px 0;
}
.next {
	margin-top: 28px;
}

// Zodiac
.em {
	font-weight: $font-emphasis;
	text-transform: none;
}
.wrap {
	display: contents;
}

// Footer
footer {
	margin-top: .25em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
footer > p {
	margin: 10px 16px;
	font-size: x-small;
	line-height: normal;
	text-align: center;
  }
.footer-link {
	color: $dk7;
	text-decoration: none;
	font-weight: $font-emphasis;
}
.footer-link:active {
	color: $li2;
}
.footer-link:hover {
	color: $warn;
}

/* Breakpoints */
// Tablet
@media only screen and (min-width: 481) {
	main {
		width: 85vw;
		background-color: darkblue;
	}
	nav {
		max-width: 768px;
	}
	textarea {
		width: 50em;
	}
}

// Laptop
@media only screen and (min-width: 769) {
	main {
		width: 85vw;
		background-color: $dk6;
	}
	nav {
		max-width: 1024px;
	}
	// textarea {
	// 	width: 50em;
	// }
}

// Desktop
@media only screen and (min-width: 1025) {
	main {
		width: 85vw;
		background-color: darkslategray;
	}
	nav {
		max-width: 1024px;
	}
	textarea {
		width: 60em;
	}
}