/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	border-radius: 2px;
	background-color: #0e1926;
	// border: 1px solid #abbab2;
	// vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Global Styles */
// Pallete
$blk: #191414;
$night: #0e1926;
$dk11: #2e4c6b;
$dk10: #264c73;
$dk9: #1f4c7a;
$dk8: #2e3833;
$dk7: #45544c;
$dk6: #5c7066;

$md5: #738c80;
$md4: #8fa399;
$li3: #abbab2;
$li2: #c7d1cc;
$li1: #e3e8e6;
$wht: snow;

// typography
.corben-regular {
	font-family: "Corben", serif;
	font-weight: 400;
	font-style: normal;
  }
.corben-bold {
	font-family: "Corben", serif;
	font-weight: 700;
	font-style: normal;
  }

$font-titles: "Corben", serif;
$title-bold: 700;
$title-regular: 400;
// <weight>: 100 to 900
$font-primary: "Work Sans", sans-serif;
$font-bolder: 900;
$font-bold: 600;
$font-emphasis: 500;
$font-regular: 300;
$font-light: 100;



/* Start Styles */
html {
	margin: 16px;
	background-color: $night;
	border: none;
}
body {
	font-family: $font-primary;
	font-weight: $font-regular;
	line-height: 1.18;
	color: $wht;

	border: none;
	// border: 1px solid #abbab2;
}
main {
	max-width: 350px;
	// border: 1px solid #abbab2;
}
div, h3, p, a, .form {
	border-radius: 2px;
	// border: 1px solid #abbab2;
}
h3 {
	margin-bottom: 16px;
	font-weight: $font-emphasis;
	text-transform: uppercase;
	background-color: $dk8;
}
p {
	margin: 16px 0;
	// background-color: $dk11;
}
section {
	margin: 16px 0;
	// background-color: $dk6;
}
article {
	margin: 16px 0;
	// background-color: $dk9;
}
.row-wrap {
	display: flex;
	flex-flow: row wrap;
}
.card {
	width: 7em;
	margin-right: 16px;
}



// Toastify
.Toastify__toast-container {
	border-radius: 2px;
}



// Header
header {
	margin-bottom: 16px;
	padding-bottom: 16px;

	border: none;
	// background-color: $li3;
	// border: 1px solid pink;
}
h1 {
	height: 1.25em;
	margin: 0 16px 0 0;
	font-family: $font-titles;
	font-size: 2.5rem;
	color: $li2;
	// background-color: $md4;
}
.nav {
	margin-right: 10px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: $font-emphasis;
	font-size: small;
	letter-spacing: .04rem;
	color: $wht ;
	cursor: pointer;
	border: none;
}
.nav:hover {
	text-decoration: none;
}
.nav.active {
	color: $li3;
	font-weight: $font-bold;
}



// Auth
.form-container, form {
	display: flex;
	flex-flow: column nowrap;
}
.form > p, input, button {
	width: 125px;
	margin-bottom: 10px;
	border: none;
	// display: flex;
	// flex-flow: column nowrap;
	// background-color: #333;
}
// form > p {

// }
input {
	height: 13px;
	padding: 4px;
	color: $dk11;
	background-color: $li1;
}
.form-errors {
	margin-bottom: 6px;
	font-size: x-small;
}
form > button {
	width: 133px;
	padding: 5px;
	background-color: $dk8;
	color: $wht;
	cursor: pointer;
}
.form-button {
	height: 20px;
	width: 133px;
	cursor: pointer;
	background-color: $dk8;
	font-size: small;
	color: $wht;
}
.form-button:hover {
	background-color: $dk11;
}
#signInDiv {
	width: 133px;
}



// Explore
.ico {
	width: 65px;
	height: 65px;
	border: none;
	margin: 3px;
	padding: 5px;
	background: $dk8;
	background-color: $li3;
}
article > img, h6 {
	border: none;
}



// Footer
footer {
	margin-top: .25em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	// position: relative;

	// align-self:last baseline;
	// background-color: $dk6;
}
footer > p {
	// font-family: $font-primary;
	font-size: x-small;
	line-height: normal;
	text-align: center;
	// position: absolute;
  }

/* Breakpoints */
// Tablet
@media only screen and (min-width: 481) {
	main {
		width: 85vw;
		background-color: darkblue;
	}
	nav {
		max-width: 768px;
	}
	textarea {
		width: 50em;
	}
}

// Laptop
@media only screen and (min-width: 769) {
	main {
		width: 85vw;
		background-color: $dk6;
	}
	nav {
		max-width: 1024px;
	}
	// textarea {
	// 	width: 50em;
	// }
}

// Desktop
@media only screen and (min-width: 1025) {
	main {
		width: 85vw;
		background-color: darkslategray;
	}
	nav {
		max-width: 1024px;
	}
	textarea {
		width: 60em;
	}
}