/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start Styles */

// pallet
$blk: #191414;
$night: #0E1926;
$wht: snow;

// typography
$font-primary: Sans-Serif;

html, div, h1, p, a, .form {
	margin: 16px 6px;
	padding: 16px 6px;
	color: $wht;
	background-color: $night;
	border: 1px solid $wht;
	border-radius: 3px;
	font-family: $font-primary;
}

// Auth
.form > p, input, button {
	display: flex;
	flex-flow: column nowrap;
	// background-color: #333;
}


// Footer
footer {
	margin-top: 3em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
footer > p {
	// font-family: $font-primary;
	font-size: x-small;
	line-height: normal;
	text-align: center;
  }

/* Breakpoints */
// Tablet
@media only screen and (min-width: 600px) {
	main {
		width: 85vw;
		background-color: darkblue;
	}
	nav {
		max-width: 500px;
	}
	textarea {
		width: 50em;
	}
}

// Desktop
@media only screen and (min-width: 992px) {
	main {
		width: 85vw;
		background-color: darkslategray;
	}
	nav {
		max-width: 500px;
	}
	textarea {
		width: 60em;
	}
}